---
interface Props {
  class?: string;
  title: string;
}

const { class: className, title } = Astro.props;
---

<div
  id="fadeup"
  class={`
    ${className}
    relative rounded-md 
    overflow-hidden border 
    border-black/10 group`}
>
  <div
    class="absolute inset-0 z-10 h-full w-full bg-black/20 lg:bg-transparent bg-gradient-to-bl from-bittersweet-400/50 via-transparent to-orient-700/70 group-hover:lg:bg-black/20 transition-colors duration-1000"
  >
  </div>

  <slot name="image" />

  <div
    class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6 lg:opacity-0 group-hover:opacity-100 transition-opacity duration-1000"
  >
    <h3
      class="absolute left-2 bottom-1 bg__blur font-grotesk text-balance text-base lg:text-xl font-medium text-white/90"
    >
      {title}
    </h3>
  </div>
</div>
