---
import ListItem from "./MoreSectionListItem.astro";
---

<section id="todo_y_mas" class="relative flex flex-col mx-auto w-full">
  <div
    class="bg-noise bg-repeat bg-[length:100px] pointer-events-none absolute inset-0 opacity-5"
  >
  </div>
  <div class="w-max max-w-full mx-auto mt-20 md:mt-32">
    <div class="mx-auto">
      <div class="flex justify-start lg:justify-center px-5 md:px-24">
        <div>
          <h2 class="font-grotesk font-semibold text-3xl sm:text-5xl w-full">
            ¡Descúbrelo todo y mucho más!
          </h2>
        </div>
      </div>
    </div>
    <div class="box-border max-w-full overflow-x-auto">
      <div
        class="flex flex-nowrap flex-col sm:flex-row items-start justify-center h-full mx-auto pt-8 px-5 md:px-24 pb-20 md:pb-28 mb-20 md:mb-28 gap-6"
      >
        <div
          class="relative shrink w-[416px] max-w-full sm:min-h-full p-6 bg-bento-gradient backdrop-blur-2xl shadow-bento-shadow rounded-2xl"
        >
          <div
            class="bg-noise bg-repeat bg-[length:100px] pointer-events-none absolute inset-0 opacity-5 rounded-2xl z-10"
          >
          </div>
          <article class="flex flex-col h-full">
            <header class="pb-6">
              <h3 class="text-start text-3xl font-semibold leading-10">
                Essentia gratis
              </h3>
            </header>
            <div class="relative flex-grow self-stretch overflow-hidden">
              <div>
                <span class="text-base font-medium leading-9"
                  >Accede a todas estas funciones:</span
                >
                <ul class="grid justify-items-start gap-2">
                  <ListItem text="Recursos principales: ">
                    <span slot="additional" class="font-bold"
                      >Vida saludable, Ejercicios y fitness, Nutrición,
                      Bienestar emocional, Salud sexual y Salud para todas las
                      edades
                    </span>
                  </ListItem>
                  <ListItem text="Sección de noticias" />
                  <ListItem
                    text="Experiencia personalizada y adaptable, decide qué quieres ver, acomodada a tus necesidades"
                  />
                  <ListItem
                    text="Inteligencia artificial especializada Essentia AI"
                  />
                  <ListItem
                    text="Recursos adicionales como guías, recomendaciones, tutoriales y más"
                  />
                  <ListItem text="Contenido descargable" />
                  <ListItem text="Personalización de tu perfil" />
                </ul>
              </div>
            </div>
          </article>
          <div class="relative flex flex-col -mx-6 px-6">
            <div class="w-full mt-6">
              <a
                type="button"
                aria-label="Registrar usuario"
                class="relative inline-flex items-center justify-center overflow-hidden h-10 w-full py-3 px-4 sm:px-8 font-medium text-lg rounded-full bg-light-gradient hover:brightness-90 active:scale-[.98] text-white shadow-md transition"
                href="/signup"
                >Comenzar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
