---
import LandingLayout from "@/layouts/LandingLayout.astro";
import SigninForm from "@/components/SignupForm.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (session) return Astro.redirect("/recursos");
---

<LandingLayout
  title="Essentia - Bienvenida"
  description="Tu recurso de información esencial y confiable para una vida más saludable y equilibrada"
  canonical="https://astonishing-custard-5b6c62.netlify.app/signin"
>
  <main>
    <SigninForm />
  </main>
</LandingLayout>
