---
import Github from "@/icons/github.astro";
import Instagram from "@/icons/instagram.astro";
import X from "@/icons/x.astro";
---

<div
  id="footer"
  class="w-full static bg-bittersweet-400 dark:bg-base-dark text-white font-light"
>
  <footer class="flex flex-col max-w-[1250px] py-10 px-5 mx-auto">
    <div
      class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-x-12 gap-y-8 max-w-7xl mb-10"
    >
      <div
        class="flex col-span-2 md:col-span-1 justify-center md:justify-start justify-items-start mb-6"
      >
        <a title="Essentia Logo" href="/recursos" aria-label="Essentia Company">
          <div class="w-28 h-auto">
            <img
              class="size-auto"
              src="/logo-essentia-on-dark.webp"
              alt="Essentia Company Logotype"
            />
          </div>
        </a>
      </div>
      <div class="flex flex-col mb-6">
        <div>
          <a
            class="border-b inline-block border-transparent text-md mb-2 font-bold"
            href="/recursos">Recursos</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Vida saludable</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Ejercios y Fitness</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Nutrición</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Bienestar emocional</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Salud sexual</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Salud para todas las edades</a
          >
        </div>
      </div>
      <div class="flex flex-col mb-6">
        <div>
          <a
            class="border-b inline-block border-transparent text-md mb-2 font-bold"
            href="/recursos-adicionales">Recursos Adicionales</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Guías</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Enlaces</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Recomendaciones</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Centros de salud</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Fonos de emergencia</a
          >
        </div>
      </div>
      <div class="flex flex-col mb-6">
        <div>
          <a
            class="border-b inline-block border-transparent text-md mb-2 font-bold"
            href="">Comunidad</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Blog</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Grupos de apoyo</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Historias inspiradoras</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Recursos comunitarios</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Eventos y talleres</a
          >
        </div>
      </div>
      <div class="flex flex-col mb-6">
        <div>
          <a
            class="border-b inline-block border-transparent text-md mb-2 font-bold"
            href="">Más</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Acerca de nosotros</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Privacidad</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Términos</a
          >
        </div>
        <div>
          <a
            class="border-b inline-block border-transparent text-sm hover:border-current dark:text-base-color-dark"
            href="">Cookies</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center mt-8">
      <div class="flex flex-row items-center gap-6">
        <span class="mr-3 text-center font-medium">Síguenos</span>
        <a
          class="hover:scale-125 transition-all"
          href="https://www.instagram.com/ktumsh/"
          target="_blank"
        >
          <Instagram width="24" height="24" />
        </a>
        <a
          class="hover:scale-125 transition-all"
          href="https://twitter.com"
          target="_blank"
        >
          <X width="24" height="24" />
        </a>
        <a
          class="hover:scale-125 transition-all"
          href="https://github.com/Ktumsh/essentia-web"
          target="_blank"
        >
          <Github width="26" height="26" />
        </a>
      </div>
    </div>
  </footer>
  <div
    class="flex justify-center items-center text-xs text-center p-3 bg-bittersweet-500 dark:bg-base-full-dark text-white dark:text-base-color-dark"
  >
    <span>© 2024 Essentia®️ - Todos los derechos reservados</span>
  </div>
</div>
