---
import Facebook from "./Icons/Facebook.astro";
import Google from "./Icons/Google.astro";
import { SignIn } from "auth-astro/components";
import X from "./Icons/X.astro";
---

<div
  class="flex relative justify-center items-center p-8 mb-9 size-full sm:w-[500px] rounded-xl bg-transparent sm:bg-white text-left sm:shadow-md shadow-black/20 font-normal text-link-m overflow-hidden"
>
  <div class="form-box register flex flex-col size-full">
    <form
      class="flex flex-col items-start justify-center size-full select-none"
      method="POST"
      action="/api/signup"
    >
      <div class="flex relative w-full h-10 mb-6 rounded bg-gray-200">
        <span class="flex justify-center items-center h-full pl-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-mail size-5"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
            ></path><path
              d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
            ></path>
          </svg>
        </span>
        <input
          name="email"
          aria-label="Correo electrónico"
          type="text"
          class="z-10 input size-full bg-transparent border-none outline-none text-[13px] font-semibold focus:ring-0"
        />
        <label
          class="absolute top-[50%] left-9 transform -translate-y-[50%] text-[13px] transition-all duration-300"
          >Correo electrónico</label
        >
      </div>
      <div class="flex relative w-full h-10 mb-6 rounded bg-gray-200">
        <span class="flex justify-center items-center h-full pl-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-user size-5"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
            ></path><path
              d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
            ></path>
          </svg>
        </span>
        <input
          name="username"
          aria-label="Nombre"
          type="text"
          class="z-10 input size-full bg-transparent border-none outline-none text-[13px] font-semibold focus:ring-0"
        />
        <label
          class="absolute top-[50%] left-9 transform -translate-y-[50%] text-[13px] transition-all duration-300"
          >Nombre
        </label>
      </div>
      <div class="relative size-full mb-6">
        <div
          class="flex items-center whitespace-nowrap text-[13px] transition-all duration-300 text-gray-200 sm:text-inherit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-balloon size-5 mr-2"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 1a7 7 0 0 1 7 7c0 5.457 -3.028 10 -7 10c-3.9 0 -6.89 -4.379 -6.997 -9.703l-.003 -.297l.004 -.24a7 7 0 0 1 6.996 -6.76zm0 4a1 1 0 0 0 0 2l.117 .007a1 1 0 0 1 .883 .993l.007 .117a1 1 0 0 0 1.993 -.117a3 3 0 0 0 -3 -3z"
            ></path><path
              d="M12 16a1 1 0 0 1 .993 .883l.007 .117v1a3 3 0 0 1 -2.824 2.995l-.176 .005h-3a1 1 0 0 0 -.993 .883l-.007 .117a1 1 0 0 1 -2 0a3 3 0 0 1 2.824 -2.995l.176 -.005h3a1 1 0 0 0 .993 -.883l.007 -.117v-1a1 1 0 0 1 1 -1z"
            ></path>
          </svg>
          Fecha de cumpleaños
        </div>
        <input
          aria-label="Fecha de nacimiento"
          type="date"
          placeholder="01/01/1980"
          class="z-10 w-full h-10 outline-none text-[13px] placeholder:font-normal placeholder:text-link-m font-semibold rounded bg-gray-200 focus:ring-0 border-none"
        />
      </div>
      <div class="flex relative w-full h-10 mb-6 rounded bg-gray-200">
        <span class="flex justify-center items-center h-full pl-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-lock size-5"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
            ></path>
          </svg>
        </span>
        <input
          id="passInput2"
          name="password"
          aria-label="Contraseña"
          type="password"
          class="z-10 input size-full bg-transparent border-none outline-none text-[13px] font-semibold focus:ring-0"
        />
        <label
          class="absolute top-[50%] left-9 transform -translate-y-[50%] text-[13px] transition-all duration-300"
          >Contraseña
        </label>
        <button
          aria-label="Mostrar/ocultar contraseña"
          type="button"
          id="showButton2"
          class="flex justify-center items-center h-full px-2 cursor-pointer hover:text-bittersweet-400"
        >
          <svg
            id="eyeButton2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off size-4"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path><path
              d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"
            ></path><path d="M3 3l18 18"></path>
          </svg>
        </button>
      </div>
      <div
        class="flex mb-6 relative w-full text-[13px] leading-snug select-text text-gray-200 sm:text-inherit"
      >
        <p>
          Al registrarte, estás aceptando los
          <a
            class="hover:underline underline-offset-2 font-bold text-white sm:text-orient-700 sm:font-medium"
            href="#"
            aria-label="Términos y condiciones de uso"
            >Términos y condiciones de uso
          </a>
          y la
          <a
            class="hover:underline underline-offset-2 font-bold text-white sm:text-orient-700 sm:font-medium"
            href="#"
            aria-label="Política de privacidad"
            >Política de privacidad
          </a>
        </p>
      </div>
      <button
        type="submit"
        class="flex justify-center items-center h-10 w-full text-sm rounded-full bg-gradient-to-tr from-pink-500 to-yellow-500 hover:brightness-90 active:scale-[.98] text-white shadow-md transition-all"
        >Crear cuenta
      </button>
      <div class="flex flex-row items-center justify-center w-full px-3 my-4">
        <hr class="flex-1 h-[1px] border-gray-200" />
        <span
          class="text-xs text-center mx-2 text-nowrap text-white sm:text-inherit"
          >o
        </span>
        <hr class="flex-1 h-[1px] border-gray-200" />
      </div>
    </form>
    <div class="flex flex-col w-full gap-2">
      <SignIn
        provider="google"
        class="inline-flex justify-center items-center align-middle h-10 w-full px-5 text-sm rounded text-white sm:text-link-h border border-gray-200/30 sm:border-gray-200 bg-black/30 sm:bg-transparent sm:hover:bg-gray-100 active:scale-[.98] transition-all"
      >
        <div class="flex justify-center items-center flex-shrink-0">
          <Google width="18" height="18" />
        </div>
        <span class="inline-block flex-1 mr-6 max-w-full whitespace-nowrap"
          >Continuar con Google
        </span>
      </SignIn>
      <SignIn
        provider="facebook"
        class="inline-flex justify-center items-center align-middle h-10 w-full px-5 text-sm rounded text-white sm:text-link-h border border-gray-200/30 sm:border-gray-200 bg-black/30 sm:bg-transparent sm:hover:bg-gray-100 active:scale-[.98] transition-all"
      >
        <div class="flex justify-center items-center flex-shrink-0">
          <Facebook width="18" height="18" />
        </div>
        <span class="inline-block flex-1 mr-6 max-w-full whitespace-nowrap"
          >Continuar con Facebook
        </span>
      </SignIn>
      <SignIn
        provider="twitter"
        class="inline-flex justify-center items-center align-middle h-10 w-full px-5 text-sm rounded text-white sm:text-link-h border border-gray-200/30 sm:border-gray-200 bg-black/30 sm:bg-transparent sm:hover:bg-gray-100 active:scale-[.98] transition-all"
      >
        <div class="flex justify-center items-center flex-shrink-0">
          <X width="16" height="16" />
        </div>
        <span class="inline-block flex-1 mr-6 max-w-full whitespace-nowrap"
          >Continuar con X
        </span>
      </SignIn>
    </div>
    <div
      class="flex items-center justify-center text-[13px] text-center self-center mt-2 text-gray-200 sm:text-inherit"
    >
      <p>
        ¿Ya tienes una cuenta?
        <a
          id="login-link"
          class="login-link font-bold sm:font-medium text-orient-600 sm:text-orient-700"
          href="/login"
          aria-label="Inicia sesión"
          >Inicia sesión
        </a>
      </p>
    </div>
  </div>
</div>
<style>
  .input:focus ~ label,
  .input:valid ~ label {
    top: 12px;
    font-size: 10px;
  }

  .input:focus,
  .input:valid {
    padding: 14px 36px 2px 8px;
  }

  .input:valid ~ .show-btn {
    display: block;
    bottom: 7px;
  }

  .input:valid ~ .show-btn-lock {
    display: none;
  }
</style>

<script>
  import { $ } from "@/lib/dom-selector";
  /*Acción de mostrar / ocultar la contraseña*/
  document.addEventListener("astro:page-load", () => {
    const passField = $("#passInput2") as HTMLInputElement;
    const icon = $("#eyeButton2") as HTMLInputElement;
    const showButton = $("#showButton2") as HTMLInputElement;
    showButton?.addEventListener("click", () => {
      if (passField?.type === "password") {
        passField.type = "text";
        icon.innerHTML =
          '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye size-4"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>';
      } else {
        passField.type = "password";
        icon.innerHTML =
          '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off size-4"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" /></svg>';
      }
    });
  });
</script>
