<div
  class="flex col-span-2 md:col-span-1 justify-center md:justify-start justify-items-start mb-6"
>
  <a title="Essentia Logo" href="/recursos" aria-label="Essentia Company">
    <div class="w-28 h-auto">
      <img
        class="size-auto dark:hidden"
        src="/logo-essentia-on-light.webp"
        alt="Essentia Company Logotype"
      />
      <img
        class="size-auto hidden dark:block"
        src="/logo-essentia-on-dark.webp"
        alt="Essentia Company Logotype"
      />
    </div>
  </a>
</div>
