---
import Github from "@/icons/github.astro";
import Instagram from "@/icons/instagram.astro";
import X from "@/icons/x.astro";
---

<div class="flex flex-row justify-center items-center mt-8">
  <div class="flex flex-row items-center gap-6">
    <span class="mr-3 text-center font-medium">Síguenos</span>
    <a
      class="hover:scale-125 transition-all"
      href="https://www.instagram.com/ktumsh/"
      target="_blank"
    >
      <Instagram width="24" height="24" />
    </a>
    <a
      class="hover:scale-125 transition-all"
      href="https://twitter.com"
      target="_blank"
    >
      <X width="24" height="24" />
    </a>
    <a
      class="hover:scale-125 transition-all"
      href="https://github.com/Ktumsh/essentia-web"
      target="_blank"
    >
      <Github width="26" height="26" />
    </a>
  </div>
</div>
