---
import AdditionalsTabs from "@/components/Additionals/Tabs";
---

<div
  class="page-bg fixed sm:absolute inset-0 size-full bg-cover bg-light-gradient-v2 dark:bg-dark-gradient [mask:linear-gradient(180deg,_black_58%,_rgba(0,_0,_0,_0)_95%),_radial-gradient(_15.77%_44.22%_at_50%_104.95%,_rgba(66,_66,_66,_0)_0%,_#333333_100%_),_radial-gradient(_30.95%_86.8%_at_30.69%_13.2%,_rgba(66,_66,_66,_0.33)_0%,_#333333_100%_),_radial-gradient(_51.31%_143.89%_at_49.99%_24.75%,_#000000_0%,_#000000_52.6%,_rgba(0,_0,_0,_0.18)_83.33%,_rgba(0,_0,_0,_0)_95.31%_),_radial-gradient(_51.31%_143.89%_at_49.99%_24.75%,_#000000_0%,_#000000_52.6%,_rgba(0,_0,_0,_0.18)_83.33%,_rgba(0,_0,_0,_0)_95.31%_),_linear-gradient(180deg,_#000000_90%,_rgba(0,_0,_0,_0)_100%)] -z-[-1]"
>
</div>
<main
  class="flex flex-col min-h-[calc(100dvh-80px)] w-full max-w-[1250px] py-5 px-5 shrink items-stretch grow"
>
  <AdditionalsTabs client:only="react" />
  <style>
    html.dark .page-bg {
      -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
        radial-gradient(
          15.77% 44.22% at 50% 104.95%,
          rgba(66, 66, 66, 0) 0%,
          #333333 100%
        ),
        radial-gradient(
          30.95% 86.8% at 30.69% 13.2%,
          rgba(66, 66, 66, 0.33) 0%,
          #333333 100%
        ),
        radial-gradient(
          51.31% 143.89% at 49.99% 24.75%,
          #000000 0%,
          #000000 52.6%,
          rgba(0, 0, 0, 0.18) 83.33%,
          rgba(0, 0, 0, 0) 95.31%
        ),
        radial-gradient(
          51.31% 143.89% at 49.99% 24.75%,
          #000000 0%,
          #000000 52.6%,
          rgba(0, 0, 0, 0.18) 83.33%,
          rgba(0, 0, 0, 0) 95.31%
        ),
        linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
      mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
        radial-gradient(
          15.77% 44.22% at 50% 104.95%,
          rgba(66, 66, 66, 0) 0%,
          #333333 100%
        ),
        radial-gradient(
          30.95% 86.8% at 30.69% 13.2%,
          rgba(66, 66, 66, 0.33) 0%,
          #333333 100%
        ),
        radial-gradient(
          51.31% 143.89% at 49.99% 24.75%,
          #000000 0%,
          #000000 52.6%,
          rgba(0, 0, 0, 0.18) 83.33%,
          rgba(0, 0, 0, 0) 95.31%
        ),
        radial-gradient(
          51.31% 143.89% at 49.99% 24.75%,
          #000000 0%,
          #000000 52.6%,
          rgba(0, 0, 0, 0.18) 83.33%,
          rgba(0, 0, 0, 0) 95.31%
        ),
        linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask-composite: source-in;
      mask-composite: source-in;
      z-index: -1;
    }
  </style>
</main>
