---
import HandleAI from "@/components/HandleAI.svelte";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const userImageUrl = session?.user?.image || "";
---

<div
  class="page-bg fixed inset-0 size-full bg-cover bg-light-gradient dark:bg-dark-gradient"
>
</div>
<div
  id="chat-container"
  class="flex flex-1 flex-col items-center justify-center size-full mt-20 sm:mt-0 mb-10 text-white overflow-y-auto"
>
  <main
    class="size-full sm:max-w-3xl lg:max-w-[40rem] xl:max-w-[48rem] max-w-full px-5 overflow-y-auto"
  >
    <div
      id="user-image"
      data-user-image-url={userImageUrl}
      aria-label="hide"
      hidden
    >
    </div>
    <HandleAI client:only="svelte" />
  </main>
</div>

<style>
  .page-bg {
    -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
      radial-gradient(
        15.77% 44.22% at 50% 104.95%,
        rgba(66, 66, 66, 0) 0%,
        #333333 100%
      ),
      radial-gradient(
        30.95% 86.8% at 30.69% 13.2%,
        rgba(66, 66, 66, 0.33) 0%,
        #333333 100%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 52.6%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 52.6%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
    mask: radial-gradient(
      51.31% 143.89% at 49.99% 24.75%,
      #000000 0%,
      #000000 52.6%,
      rgba(0, 0, 0, 0.18) 83.33%,
      rgba(0, 0, 0, 0) 95.31%
    );
    -webkit-mask-composite: source-in;
    mask-composite: source-in;
    z-index: -1;
  }

  main {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
<!-- <script is:inline type="module" src="/js/chatbot.js"></script> -->
