---
import Copyright from "@/components/Footer/Copyright.astro";
import LinkList from "@/components/Footer/LinkList.astro";
import Logo from "@/components/Footer/Logo.astro";
import SocialLinks from "@/components/Footer/SocialLinks.astro";

const resources = [
  { href: "/recursos/salud-y-bienestar", text: "Salud y Bienestar" },
  { href: "/recursos/ejercicios-y-fitness", text: "Ejercicios y Fitness" },
  {
    href: "/recursos/nutricion-y-alimentacion",
    text: "Nutrición y Alimentación",
  },
  { href: "/recursos/bienestar-emocional", text: "Bienestar Emocional" },
  {
    href: "/recursos/salud-y-educacion-sexual",
    text: "Salud y Educación Sexual",
  },
  {
    href: "/recursos/salud-para-todas-las-edades",
    text: "Salud para Todas las Edades",
  },
];

const additionalresources = [
  { href: "/adicionales", text: "Guías" },
  { href: "/adicionales", text: "Enlaces" },
  { href: "/adicionales", text: "Recomendaciones" },
  { href: "/adicionales", text: "Centros de salud" },
  { href: "/adicionales", text: "Fonos de emergencia" },
];

const comunidad = [
  { href: "/comunidad", text: "Blog" },
  { href: "/comunidad", text: "Grupos de apoyo" },
  { href: "/comunidad", text: "Historias inspiradoras" },
  { href: "/comunidad", text: "Recursos comunitarios" },
];

const more = [
  { href: "", text: "Acerca de Essentia" },
  { href: "", text: "Política de privacidad" },
  { href: "", text: "Términos y condiciones" },
  { href: "", text: "Cookies" },
];
---

<div
  id="footer"
  class="w-full static bg-white dark:bg-base-dark text-base-color dark:text-white font-light"
>
  <footer class="flex flex-col max-w-[1250px] py-10 px-5 mx-auto">
    <div
      class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-x-12 gap-y-8 max-w-7xl mb-10"
    >
      <Logo />
      <LinkList href="/recursos" title="Recursos" links={resources} />
      <LinkList
        href="/adicionales"
        title="Recursos Adicionales"
        links={additionalresources}
      />
      <LinkList href="/comunidad" title="Comunidad" links={comunidad} />
      <LinkList title="Más" links={more} />
    </div>
    <SocialLinks />
  </footer>
  <Copyright />
</div>
