---
import NewCard from "@/components/Main/NewCard.astro";
import Carousel from "@/components/Main/Carousel";
import Resources from "@/components/Main/Resources.astro";
import Greeting from "@/components/Main/Greeting.svelte";
import Search from "@/icons/search.astro";
import Clear from "@/icons/clear.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

const getFirstName = (fullName: any) => {
  if (!fullName) return "Usuario";
  const nameParts = fullName.toLowerCase().split(" ");
  return capitalize(nameParts[0]);
};

const capitalize = (word: string) => {
  return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
};

const nameFromUser = getFirstName(session?.user?.name);
---

<div
  class="page-bg fixed inset-0 size-full bg-cover bg-light-gradient-v2 dark:bg-none"
>
</div>
<main
  class="flex flex-col min-h-dvh w-full max-w-[1250px] py-5 lg:px-5 shrink items-stretch grow"
>
  <div class="hidden sm:block w-full max-h-[360px] mb-5">
    <div class="h-[360px] w-full">
      <div
        class="flex justify-center items-center size-full py-24 px-5 bg-light-gradient dark:bg-dark-gradient rounded-xl shadow-md"
      >
        <div
          class="flex flex-col size-full items-center justify-center relative"
        >
          <h2
            class="absolute top-2 text-2xl sm:text-3xl font-bold text-white dark:text-gray-200"
          >
            <Greeting client:only="svelte" />, {nameFromUser || "Usuario"}
          </h2>
          <form
            id="search-form"
            role="search"
            class="flex items-center justify-center w-full rounded-xl"
          >
            <div
              class="relative flex flex-row text-base-color-m/50 max-w-[480px] w-full lg:w-[480px] h-10"
            >
              <input
                type="text"
                id="search-input"
                placeholder="Busca cualquier cosa que desees..."
                class="group/item w-full outline-none pl-4 pr-10 text-sm rounded-xl shadow-md border-none text-base-color-h dark:text-base-color-dark-h placeholder-base-color-m dark:placeholder-base-color-dark-m bg-white/50 dark:bg-base-full-dark-40 backdrop-blur backdrop-saturate-150 focus:shadow-lg focus:ring-0 transition-shadow"
              />
              <button
                type="button"
                id="search-button"
                class="flex justify-center items-center absolute w-10 h-10 right-0"
                aria-label="Buscar"
              >
                <Search
                  id="search-icon"
                  width="24"
                  height="24"
                  class="text-base-color-m dark:text-base-color-dark-m"
                />
                <Clear
                  id="clear-icon"
                  width="16"
                  height="16"
                  class="text-base-color-m dark:text-base-color-dark-m hidden"
                />
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row flex-1 relative w-full gap-2 mb-7">
    <section class="flex flex-col flex-1 w-full">
      <h3
        class="text-sm uppercase font-bold mb-2 ml-3 text-base-color-h dark:text-base-color-dark"
      >
        Recomendaciones
      </h3>
      <Carousel client:only="react" />
    </section>
    <aside class="hidden lg:flex">
      <section class="flex flex-col mb-5 h-full w-80">
        <h3
          class="h-[20px] mb-2 ml-3 text-base-color-h dark:text-base-color-dark"
        >
        </h3>
        <NewCard />
      </section>
    </aside>
  </div>
  <div class="flex flex-col flex-1 relative w-full select-none">
    <section class="flex flex-col flex-1 mb-5 w-full px-5 lg:px-0">
      <div
        class="flex justify-center items-center h-10 px-4 mb-2 text-white bg-light-gradient dark:bg-dark-gradient shadow-md rounded-xl"
      >
        <h3 class="text-2xl font-bold">Recursos Principales</h3>
      </div>
      <Resources />
    </section>
  </div>
</main>
<script>
  import { $ } from "@/lib/dom-selector";

  document.addEventListener("astro:page-load", () => {
    const $searchInput = $("#search-input") as HTMLInputElement;
    const $searchIcon = $("#search-icon");
    const $clearIcon = $("#clear-icon");

    if ($searchInput) {
      $searchInput.oninput = () => {
        $searchInput.value.length > 0
          ? ($searchIcon?.classList.add("hidden"),
            $clearIcon?.classList.remove("hidden"))
          : ($searchIcon?.classList.remove("hidden"),
            $clearIcon?.classList.add("hidden"));
      };
    }
    const $searchButton = $("#search-button") as HTMLButtonElement;

    if ($searchButton) {
      $searchButton.onclick = () => {
        $searchInput.value.length > 0 &&
          (($searchInput.value = ""),
          $searchIcon?.classList.remove("hidden"),
          $clearIcon?.classList.add("hidden"));
      };
    }
  });
</script>

<div
  id="focus_modal"
  class="z-40 invisible backdrop-blur-0 saturate-100 bg-overlay/30 w-screen h-dvh fixed inset-0 opacity-0 transition-all ease-linear"
>
</div>
<style>
  .page-bg {
    -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
      radial-gradient(
        15.77% 44.22% at 50% 104.95%,
        rgba(66, 66, 66, 0) 0%,
        #333333 100%
      ),
      radial-gradient(
        30.95% 86.8% at 30.69% 13.2%,
        rgba(66, 66, 66, 0.33) 0%,
        #333333 100%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 52.6%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 52.6%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-composite: source-in;
    mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
      radial-gradient(
        15.77% 44.22% at 50% 104.95%,
        rgba(66, 66, 66, 0) 0%,
        #333333 100%
      ),
      radial-gradient(
        30.95% 86.8% at 30.69% 13.2%,
        rgba(66, 66, 66, 0.33) 0%,
        #333333 100%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 52.6%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      radial-gradient(
        51.31% 143.89% at 49.99% 24.75%,
        #000000 0%,
        #000000 52.6%,
        rgba(0, 0, 0, 0.18) 83.33%,
        rgba(0, 0, 0, 0) 95.31%
      ),
      linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
    mask-composite: source-in !important;
    z-index: -1;
  }
</style>
