---
import ChipBadge from "@/components/ReactComponents/ChipBadge";

const videos = [
  {
    title: "Yoga con Adriene",
    link: "https://www.youtube.com/embed/v7AYKMP6rOE",
  },
  {
    title: "Entrenamiento de Fuerza en Casa",
    link: "https://www.youtube.com/embed/L_xrDAtykMI",
  },
  {
    title: "Cardio para Quemar Grasa",
    link: "https://www.youtube.com/embed/2L2lnxIcNmo",
  },
  {
    title: "Entrenamiento para principiantes TOTAL BODY",
    link: "https://www.youtube.com/embed/q9b9afJ-GnA?si=pSpSRlOoLdFTxNt3",
  },
];
---

<div
  class="flex flex-col items-center justify-center w-full py-10 !mt-0 border-b-4 border-gray-100/50 dark:border-base-full-dark-50"
>
  <div class="flex items-center justify-center gap-4 mb-6">
    <h2 class="text-4xl text-center font-bold dark:text-white">
      Introducción a Ejercicios y Fitness
    </h2>
    <ChipBadge client:visible />
  </div>
  <p class="max-w-2xl text-center text-lg">
    Mantenerse en forma y activo es crucial para la salud y el bienestar.
  </p>
</div>
<section class="px-5">
  <h3 class="text-2xl font-semibold mb-6">Rutinas de Ejercicio</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div
      class="bg-white dark:bg-base-full-dark p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow"
    >
      <a
        href="https://www.acefitness.org/education-and-resources/lifestyle/exercise-library/"
        class="text-bittersweet-400 dark:text-cerise-red-600 hover:brightness-90 font-bold text-xl"
        >Biblioteca de Ejercicios - ACE Fitness</a
      >
      <p class="mt-2 text-base">
        Explora una amplia variedad de ejercicios para todos los niveles.
      </p>
    </div>
    <div
      class="bg-white dark:bg-base-full-dark p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow"
    >
      <a
        href="https://www.self.com/gallery/bodyweight-exercises-you-can-do-at-home"
        class="text-bittersweet-400 dark:text-cerise-red-600 hover:brightness-90 font-bold text-xl"
        >Ejercicios de Peso Corporal para Hacer en Casa</a
      >
      <p class="mt-2 text-base">
        Descubre ejercicios que puedes hacer en casa sin equipo.
      </p>
    </div>
    <div
      class="bg-white dark:bg-base-full-dark p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow"
    >
      <a
        href="https://www.verywellfit.com/best-exercises-a3567510"
        class="text-bittersweet-400 dark:text-cerise-red-600 hover:brightness-90 font-bold text-xl"
        >Mejores Ejercicios para Todo el Cuerpo - Verywell Fit</a
      >
      <p class="mt-2 text-base">
        Conoce los mejores ejercicios para entrenar todo el cuerpo.
      </p>
    </div>
  </div>
</section>

<section class="px-5">
  <h3 class="text-2xl font-semibold mb-6">Tutoriales en Video</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      videos.map((video) => (
        <div class="aspect-video bg-white dark:bg-base-full-dark rounded-xl overflow-hidden shadow-md hover:shadow-lg hover:scale-[1.02] transition">
          <iframe
            class="w-full h-full rounded-xl"
            width="560"
            height="315"
            src={video.link}
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          />
        </div>
      ))
    }
  </div>

  <section class="px-5 pb-5">
    <h3 class="text-2xl font-semibold mb-6">Planes de Entrenamiento</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="bg-white dark:bg-base-full-dark p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <a
          href="https://www.nike.com/ntc-app"
          class="text-bittersweet-400 dark:text-cerise-red-600 hover:brightness-90 font-bold text-xl"
          >Aplicación Nike Training Club</a
        >
        <p class="mt-2 text-base">
          Accede a planes de entrenamiento personalizados a través de la
          aplicación.
        </p>
      </div>
      <div
        class="bg-white dark:bg-base-full-dark p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <a
          href="https://www.myfitnesspal.com/"
          class="text-bittersweet-400 dark:text-cerise-red-600 hover:brightness-90 font-bold text-xl"
          >MyFitnessPal</a
        >
        <p class="mt-2 text-base">
          Seguimiento de ejercicios y dieta con planes personalizados.
        </p>
      </div>
      <div
        class="bg-white dark:bg-base-full-dark p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <a
          href="https://www.fitbit.com/global/us/home"
          class="text-bittersweet-400 dark:text-cerise-red-600 hover:brightness-90 font-bold text-xl"
          >Fitbit</a
        >
        <p class="mt-2 text-base">
          Monitoreo de actividad física y planes de entrenamiento.
        </p>
      </div>
    </div>
  </section>
</section>
