---
import Arrowright from "@/icons/arrow-right.astro";
import Button from "../Button";
import type { Children } from "react";
---

<article
  class="relative h-full w-full bg-gray-100 dark:bg-base-dark rounded-xl overflow-hidden"
>
  <div class="relative flex flex-col h-full overflow-hidden">
    <div
      class="flex flex-col items-center justify-between size-full overflow-hidden"
    >
      <img
        class="absolute inset-0 size-full object-cover dark:[mask-image:linear-gradient(_to_top,_rgba(0,_0,_0,_1)_0%,_transparent_95%)] group-hover:scale-105 transition"
        src="/extras/news-concept.webp"
        alt=""
      />
      <div
        class="absolute inset-0 size-full bg-cover bg-center bg-[linear-gradient(to_bottom,_rgba(0,_0,_0,_0.8)_0%,_transparent_100%)] dark:bg-none"
      >
      </div>
      <div class="flex flex-col w-full content-center p-6 pt-10 z-10">
        <h4 class="font-medium text-lg text-white transition">
          Héchale un vistazo a las noticias interesantes del momento...
        </h4>
      </div>
      <div
        class="flex items-center justify-end w-full overflow-hidden p-2 z-10"
      >
        <a
          class="group flex flex-row items-center justify-center h-9 w-full px-3 bg-bittersweet-500/60 dark:bg-cerise-red-600/60 backdrop-blur backdrop-saturate-150 border-bittersweet-400/30 dark:border-cerise-red-600/30 border rounded-xl bottom-1 shadow-md transition hover:brightness-90"
          href="/noticias"
        >
          <span class="text-white">Ir a noticias</span>
          <Arrowright
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2 text-white group-hover:ms-4 transition-[margin,_transform]"
          />
        </a>
      </div>
    </div>
  </div>
</article>
